#fancybox-wrap
{
	top:0px!important;
	/*width:80%!important;*/
	/*float:left!important;
	position:absolute!important;
	left:10%!important;*/
	width:0px!important;
		
}

.fancybox-bg
{
	display:none!important;
}

div#fancybox-outer
{
	z-index:-1!important;
	margin:0;
	padding-right:0px;

}

div#fancybox-content
{
	z-index:-1!important;
	border-width:0px!important;
	/*width:auto!important;*/
	overflow:visible!important;
	
}
div#fancybox-content div
{
	overflow:inherit!important;
	/*width:800px;*/
	font-family:verdana;

}

#fancybox-close
{
	display:none!important;
}

#image img
{
	vertical-align: middle;
	border-color:black; 
	border-style:solid; 
	border-width:2px;
/*    	height: 80%;*/
/*	min-width:100%;*/
}
#image
{
 
	padding:0px; 
	margin:0px; 
	position:relative; 
	/*height:200px; */
	margin-top:50px;
	/*height:500px;*/
}

#content
{
	border-color:black; 
	border-style:solid; 
	border-width:2px; 

	padding:0px; 
	margin:0px; 
	margin-top:50px;

	/*width:80%;*/
	position:relative; 
	z-index:1001; 
	display:none;
	background:pink;
}
#comments
{
/*	border-width:1px;	
	border-style:solid;
	border-color:#333;

/*	width:200px;

	height:200px;
*/	
	color:white;
	text-align:left;
}
p
{
/*	border-width:1px;	*/
	border-style:solid;
	border-color:#338;
	color:#338;
	border-bottom-width:0px;
	padding:5px;
}
#username
{
	color:white;
	position:absolute;
	z-index:1001;
	top:-50px;
	left:0px;
}
#rank
{
	color:white;
	position:absolute;
	z-index:1001;
	top:-50px;
	right:0px;
}
.title
{
	color:black;
}

#info
{
	color:white; 
	position:absolute; 
	bottom:0px; 
	right:0px; 
	z-index:1103;
}
#twitter
{
	color:white; 
	position:absolute; 
	bottom:0px; 
	left:0px; 
	z-index:1103;
}

