body {
	margin:0;
	padding:0;
	font-size:14px;
	font-family:'Roboto', sans-serif;
	background-color:#f2f2f2;
	overflow: hidden;
}

#container{
	position:absolute;
	width:100%;
	height:100%;
}
#pin-box{
	position:relative;
	margin-top: 10%;
	width:256px;
	height:256px;
	margin-left:auto;
	margin-right:auto;
}
#pin-box:before{
	content:'';
	position:absolute;
	width:256px;
	height:256px;
	background-image:url("../images/pin-bg.svg");
	background-repeat:no-repeat;
	background-position:center;
	background-size:256px;
}
#error-no{
	position:absolute;
	width:100%;
	text-align:center;
	color:#fff;
	font-size: 5em;
	font-weight:700;
	line-height: 180px;
	margin: 0;
	padding: 0;
	z-index:9;
}
#circle-box{
	position:absolute;
	width: 128px;
	height: 128px;
	right: -18px;
	top: -34px;
	z-index:10;
}
#circle-box:before{
	content:'';
	position:absolute;
	width:128px;
	height:128px;
	background-image:url("../images/pin-circle.svg");
	background-repeat:no-repeat;
	background-position:center;
	background-size:128px;
}
#oops{
	position:absolute;
	width:100%;
	text-align:center;
	color:#fff;
	font-size: 1.5em;
	font-weight:700;
	line-height: 128px;
	margin: 0;
	padding: 0;
	z-index:10;
}
#error-txt-box{
	position:relative;
	width:90%;
	left:5%;
	text-align: center;
}
#error-txt{
	color:#4c5660;
	font-size: 2em;
	font-weight:700;
	line-height: 180px;
}