@charset "utf-8";
/* CSS Document */

html
{
	background-color: #f2f2f2;	
}

body {
	height: 100%;
  	overflow-x: hidden;
	color:#8a9398;
}
	
#conatainer {
	position:absolute;
	width:100%;
	height:100%;
	z-index:0;
	}
#header {
	position:fixed;
	height:70px;
	width:100%;
	z-index:2;
	background-color:#f2f2f2;
	border-bottom: 1px solid #8a9398;
	}
#logo {
	position: relative;
	float:left;
	height:40px;
	margin-top:15px;
	width:160px;
	left:20px;
	}
#status {
	position: relative;
	float:left;
	height:40px;
	line-height:40px;
	margin-top:15px;
	left:40px;
	color:#00bff3;
	font-size: 1rem;
	font-weight:bold;
	}
.slide {
  	position: absolute;
	top:70px;
  	bottom: 36px;
  	padding: calc(20vh - 70px) 0% calc(20vh - 41px) 0%;
  	box-sizing: border-box;
	
	
  	left: 0px;
  	right: 0px;
}

.slide:before {
  	content: "";
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left:0;
  	right:0;
	}

.slide, .slide:before {
  	background: 50% 50% / cover;  
	}



#slide2 {
  	background-image: url("/images/toronto03.jpg");
  	/* background-attachment: fixed; */
	}
.content {
	position:relative;
	/* position: absolute; */
	left:0;
  	width: 100%;
	background: rgba(242, 242, 242, 0.95);
	padding: 2% 0;
	border-top: 1px solid #8a9398;
	border-bottom: 1px solid #8a9398;
	max-height: 375px;
	overflow-y: auto;
	overflow-x: hidden;
}
.title {
	position:relative;
	width:100%;
	/* height: 50px; */
	font-size: 1.5rem;
	text-align:center;
	color: #8a9398;
	font-weight:normal;
	margin: 10px 0 30px 0;
	}
.maps {
	position:relative;
	width:100%;
	min-height: 80px;
	/* margin: 40px 0 40px 0; */
	text-align: center;
	/* word-break: inherit; */
	/* overflow: auto; */
}	
.map-link{
	/* position: absolute; */
	position: relative;
	display: inline-block;
	/* overflow:hidden; */
	width: 29%;
	min-width: 350px;
	/* overflow: hidden; */
	/* min-width: 210px; */
	/* line-height:80px; */
	height:80px;
	font-size:2rem;
	background-position:0 0;
	margin: 0 2% 4% 2%;
	text-align: left;
	white-space: nowrap;
	font-weight: initial;
	color: inherit;
}
.map-link:before
{
	content:'';
	display: inline-block;
	width:80px;
	height:80px;
	background:url(/images/icon-sprites.svg) no-repeat;
	background-size:80px;
	transition: 0.2s;

	
	vertical-align: middle;
}

.ml-right {
	position: absolute;
	left: calc(50% + 50px);
	/* margin-left:0px; */
	/* margin-right: 0%; */
	margin: 0 calc(20% - 150px) 3% 0%;
	/* text-align: right; */
}
.map-link:hover, .map-link:hover:before {
	background-position:0 -80px;
	color:#00bff3;
	cursor: pointer;
	transition: 0.2s;
	}
#footer {
	border-top: 1px solid #8a9398;
}
#connect {
	position:relative;
	bottom:0;
	min-width: 100%;
	height:40px;
	}
#copyright {
	/* position:relative; */
	left:20px;
	min-width: 11%;
	margin: 0 2%;
	line-height:40px;
	display: inline-block;
}
#footer #about, #footer #terms{
	display: inline-block;
	margin: 0px 1.4%;
	line-height:40px;
	}
a {
}
a:hover {
	color: #00bff3;
	text-decoration: none;
	}
#fb {
	position:relative;
	right: 20px;
	float:right;
	width:50px;
	height:50px;
	background-image:url(/images/social_icons.png);
	background-position: 0 -5px;
	transition: background 0.2s;
	}
#fb:hover {
	background-image:url(/images/social_icons.png);
	background-position: 0px -55px;
	transition: background 0.2s;
	}

#twtr {
	position:relative;
	right: 20px;
	float:right;
	width:50px;
	height:50px;
	background-image:url(/images/social_icons.png);
	background-position: 100px -5px;
	transition: background 0.2s;
	}
#twtr:hover {
	background-image:url(/images/social_icons.png);
	background-position: 100px -55px;
	transition: background 0.2s;
	}
#eml {
	position: relative;
	right: 20px;
	float: right;
	width: 50px;
	height: 50px;
	background-image: url(/images/social_icons.png);
	background-position: 50px -5px;
	transition: background 0.2s;
	}
#eml:hover {
	background-image: url(/images/social_icons.png);
	background-position: 50px -55px;
	transition: background 0.2s;
	}


