
#fancybox-wrap
{
	/*width:80%!important;*/
	/*float:left!important;
	position:absolute!important;
	left:10%!important;*/
}

div#fancybox-outer
{

}

div#fancybox-content div
{
	overflow:inherit!important;
	/*width:800px;*/
	font-family:verdana;

}

body
{

}
#content
{
	padding:20px; 
	margin:0px; 
	height:200px;
	text-align:center;	
	background:#181c1f;
	z-index:1001; 
	top:0px; 
	left:1200%;
}

p
{
/*	border-width:1px;	*/
	border-style:solid;
	border-color:#338;
	color:#338;
	border-bottom-width:0px;
	padding:5px;
}
