html
{
	font-family: "Open Sans", "Open Sans Extrabold", "Open Sans Light", "Open Sans 	Semibold", sans-serif;
	color:#91989e;
	font-size: 90%;
}

.tooltip::after {
    content: attr(data-tip) ;   
     
    font-size: 10px;
    position:absolute;
    z-index: 99999999999;
    white-space:nowrap;
    line-height: initial;
    font-weight: initial;
    /* height: 20px; */
    bottom: 0;
    right: -999999px;
    background: #263238;
    color:#e0e0e0;
     
    opacity: 0;  
    transition: opacity 0.4s ease-out; 
    text-align: right;
    transition-delay: 0.5s;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
}
     
.tooltip:hover::after {
    opacity: 1;
    bottom: -50px;
    right: 0px;
}

#age
{
	position:relative;
	z-index: 8001;
}

ul
{
    list-style-type: initial;
    margin: 14.4px 0;
    padding: 0 0 0 40px;
	
    line-height: 1.35em;
    margin: 0;
}

ol
{
    list-style-type: lower-roman;
    /* margin: 14.4px 0; */
    padding: 0 0 0 40px;
}

li
{
    list-style-position: initial;
}

h1, h2, h3, h4, h5, h6
{
	display:inline-block;
}

p, ul, ol, pre, h2, h3, h4, h5
{
	color: #4c5660;
}

p, ul, ol
{
	font-family: inherit;
	white-space: pre-line;
	font-size: 0.8em;
}

p{
	line-height: 1.7em;	
}

time
{
	font-size: 0.8em;
}

menu.standard
{
	height: 35px;
	margin:0;
	padding: 0;
	/* border-bottom: solid 1px; */
}

menu.large
{
	height: 49px;
	margin:0;
	padding: 0;
	border-bottom: solid 1px;	
}

input, textarea, button
{
	border:0;
	margin: 10px 20px;
	padding:0;
	font-size: 1rem;
	height: 45px;
	color:gray;
	border-radius: 5px;
	font-family: "Open Sans", "Open Sans Extrabold", "Open Sans Light", "Open Sans 	Semibold", sans-serif;	
}

input[type=text]
{
	width: 420px;
	padding: 0px 10px;
}

input[type="file"]
{
  text-indent:0px;
  width:75%;
}


input[type="submit"], button
{
	cursor:pointer;
	color: white;
	background-color: #8a9398;
}

input[type="submit"]:hover, button
{
	background-color:#00bff3;
}

input[type="submit"].button, button.button
{
	float:right;
}

label
{
  font-size:1.2rem;
}

select {
	text-align:left;
	width: 290px;
	margin: 0 20px;
	padding:0;
	text-indent:10px;
	font-size: 1rem;
	/* line-height: 1; */
	border: 0;
	border-radius: 0;
	height: 40px;
	appearance: none;
	background: white;
	border-radius: 5px;
}

textarea
{
	width: 420px;
	padding: 10px 10px;
	height: 100px;
}

a
{
  color:#91989e;
  text-decoration:none;
}

a:hover, a:active
{
	color: #00bff3;
}


body
{
	overflow: hidden;
	margin: 0;
	padding: 0;	
}

.button
{
	min-width: 130px;
	height: 40px;
	color:white;
	border-radius: 5px;
	/* margin:0; */
	padding: 0 20px;
	background-color: #8a9398;
	cursor:pointer;
  	
	display:inline-block;
  
  
}

.button:hover
{
    background: #00bff3;
}



.iconBtn
{
	cursor:pointer;
	display: inline-block;
	position: relative;
	/* vertical-align: middle; */
}

.iconBtn.big:before
{
    width: 30px;
    height: 30px;	
}

.iconBtn.standard:before
{
    width: 24px;
    height: 24px;
	
    background-size: 576px;
}

.iconBtn.small:before
{
    width: 15px;
    height: 15px;	
}

.iconBtn:before {
     content: ''; 
    
     display: inline-block;
    
     background-image: url('../images/icons-sprite-sheet.svg');
    
    
     vertical-align: middle;
    
}


#headerMarker
{
    background: url('../images/menu_arrow.png');
	
    width: 9px;
    height: 71px;
    position: absolute;
    left: 860px;
}

div#mapMenuBtn {
    
	/* width: calc(100% - 40px); */ 
	display: inline-block;
	height: 20px;

	position: relative;
	padding: 10px 20px;
	margin: 8px 10px;
	top: 50px;
	float: right;
	background: #f2f2f2;
	border-radius: 5px;
	font-weight: 600;
	box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.3);
	color: #4c5660;
	line-height: 20px;
	cursor: pointer;
}
#mapMenuBtn:hover {
	color:#00bff3;
	}

#mapName {
    position: relative;
    width: 50%;
    height: 20px;
    margin: 7px 20px 3px 20px;
    display: block;
}


span#mapDesc {
    position: relative; 
    width: 50%; height: 20px; 
    margin: 10px 20px 3px 20px;
    font-size: 0.8em;
}

/*************
	map bar
*************/
#mapbar-container{
	position:relative;
	width:100%;
	height:19px;
	border-bottom: 1px solid #8a9398;
	background-color:#f2f2f2;
	}
#mapbar-title {
	float: left;
	padding-top: 4px;
	height: 15px;
	margin: 0 10px 0 10px;
	text-align: center;
	font-size: 0.75rem;
	font-weight:bold;
	color:#4c5660;
}
.mapbar-maps-container{
	overflow:hidden;
	float: left;
	height: 19px;
	width: calc(100% - 164px);
}
.mapbar-maps{
	display: inline-block;
	padding-top: 4px;
	height: 15px;
	margin: 0 5px 0 5px;
	text-align: center;
	font-size: 0.75rem;
	color:#4c5660;
	}
.mapbar-maps-sep{
	margin:0;
	padding:0;
}
#mapbar-more {
	float: right;
	padding-top: 4px;
	height: 15px;
	margin: 0 10px 0 10px;
	text-align: center;
	font-size: 0.75rem;
	font-weight:bold;
	color:#4c5660;
	background-color: #f2f2f2;
	cursor:pointer;
}
#mapbar-more:hover{
	color:#00bff3;
	}
/*************
	management
*************/
.managementBtn, .managementBtn:before {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(/images/icons-sprite-sheet.svg);
	background-repeat:no-repeat;
	
    /* background-position:0px 0px; */
    background-size: 720px;
    margin: 5px 5px;
	
    cursor:pointer;
    position: absolute;
    background-color: #f2f2f2;;
}
menu#management {
    display: inline-block;
    float: right;
	padding:0;
    margin: 8px 5px;
    width: 40px;
    height: 40px;
    /* overflow: hidden; */
    white-space: nowrap;
    text-align: right;
    transition: width 0.5s;
    position: relative;
    top: 50px;
    background: #f2f2f2;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.3);
}

#createMap {
    background-position: -60px 0px;
    left: 0;
}
#createMap.active, #createMap:hover
{
    background-position: -60px -30px;	
}

#myMaps {
    background-position: 0px 0px;
    left: 42px;
	
    /* left:0; */
}
#myMaps.active, #myMaps:hover
{
    background-position: 0px -30px;
}

#myPosts {
    background-position: -90px 0px;
    left: 86px;
}
#myPosts.active, #myPosts:hover
{
    background-position: -90px -30px;
}

#mySubscriptions {
    background-position: -210px 0px;
    left: 134px;
}
#mySubscriptions.active, #mySubscriptions:hover
{
    background-position: -180px 0px;
}

#manage
{
	background: #f2f2f2;
	position: absolute;
	right: 0px;
	margin: 0;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	/* box-shadow: 6px 3px 2px; */
}
#manage:before {
	content:'';
	display:inline-block;
	width: 30px;
	height: 30px;
	background-color: #f2f2f2;
	position: absolute;
	right: 0px;
	border-radius: 5px;
	background-position: -420px 0px;
}
#manage.active:before, #manage:hover:before
{
    background-position: -420px -30px;
}

#massUpload
{
	background: #000;
	position: absolute;
	right: 5px;
	margin: 0;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	top: 110px;
}


#map
{
	height:2000px;
/*	background:#666;*/
	width:100%;
	margin:0 auto;
	top: 0px;
}

.customMarkOut
{
	border:0;
	margin:0;
	padding:0;
	background:transparent;
	width: 102px;
}

.photoMarker:after { 
    display: inline-block; 
    width: 20px; 
    height: 20px;  
    position: absolute; 
    left: calc(100% - 31px); 
    top: 10px;
    background-image: url('../images/icons-sprite-sheet.svg');
    background-position: 0px -80px;
    background-size: 480px;
    content: '';
}

.customMark
{
    position: absolute;
    transition:opacity 0.2s;
	-webkit-filter: drop-shadow( 4px 6px 3px rgba(0,0,0,0.5) );	
    
}

.customMark:hover{
	/*opacity:0;*/
}



.customMark .imgWrap
{
	position:relative;
	width: 122px;

	height: 122px;
  
	border-radius: 50%;
	/* z-index: 1; */
	margin: 0px;
	left: 3px;
	top: 3px;
	overflow:hidden;
}


.customMark img
{
    position: absolute;     
    top: 0;     
    bottom: 0;     
    left: -50%;     
    right: -50%;     

    margin: auto;
    min-width: 175px;
    min-height: 100%;
}

.leftHoverFloat
{
	width:0px;
	height:0px;
	position:absolute;
	background:#f09;
	border-left-width:2px;
	font-size:0.7rem;
	left:-65px;
	display:none;
	text-align:center;
}
.circle
{
	width:30px;
	height:30px;
	background:black;
	position:relative;
	right:15px;
	top:-15px;
	border-radius:15px;
	color:#ec008c;
}

.olPopup, .olPopupContent
{
/*	width:500px!important;*/
}

#mainHeader
{

	width:100%;
	

	height: 0px;
	

	font-size: 1.2rem;
	text-decoration:none;
	text-align:left;
	font-weight:normal;
	
	

	z-index: 8000;

	position: absolute;

	/* background: rgba(204, 204, 204, 0.51); */

}


#logo
{
	position: relative;
	display: inline-block;
	left: 10px;
	top: 0;
	margin: 10px 0;
	text-align: center;
	height: 50px;
	vertical-align: middle;
	width: 50px;
	overflow: hidden;
	background: #f2f2f2;
	border-radius: 5px;
	box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.3);
}

#logo a
{
	line-height: 50px;
	width: 50px;
	overflow: hidden;
	display: inline-block;
}

#logo img
{
    height: 30px;
    position: relative;
    top: 8px;
    left: 1px;
}

#login, #profileBtn
{
	display:inline-block;
	height: 20px;
	background-color: #f2f2f2;
	background-position:  -38px 0px;
	background-repeat: no-repeat;
	font-weight: 600;
	position:absolute;
	top: 15px;
	right: 10px;
	text-decoration: none;
	cursor: pointer;
	text-indent: 0px;
	line-height: 20px;
	color: #4c5660;
	padding: 5px 20px;
	border-radius: 5px;
	box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.3);
	font-size: 0.8em;
}

#login:hover, #profileBtn:hover
{
    /* background: url(../images/icon_sprites.png) -38px -39px no-repeat; */
	color:#00bff3;
}

#logoutBtn
{
position: relative;
/* top: 0px; */
line-height: 2.0em;
}

#updateProfile
{
line-height: 2em;
position: relative;
margin-left: 20px;
}


#profileBox
{
	width: 340px;
	background: #f2f2f2;
	position:absolute;
	right:30px;
	top: 64px;
	z-index: 3000;
	display:none;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.3);
}

#opacity
{
	position: absolute;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	z-index: 2001;
	top: 0px;
	display:none;
}

.popup
{
	z-index: 4002;
	position: absolute;
	top: calc(50% - 30%);
	display:none;
	overflow:hidden;
	border-radius: 5px;
	box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.3);
	background: #f2f2f2;
	/* padding: 20px; */
	line-height: 1.2em;
	font-size: 1em;
}

.closeBtn
{
	position: absolute;
	right: 12px;
	width:40px;
	height:40px;
	cursor:pointer;
	user-select:none;
	display: inline-block;
	/* vertical-align: middle; */
	/* float: right; */
	/* top: 5px; */
	line-height: 100%;
}
.closeBtn:before{
	content:'';
	display: inline-block;
	margin: 10px;
	width: 20px;
	height: 20px;
	background-image: url("../images/icons-sprite-sheet.svg");
	background-size: 480px;
	background-position: -300px 0px;
}
.closeBtn:hover:before{
	background-position: -300px -20px;
}
.popup#profile, .popup#newProfile, .popup#emailForm, .popup#info, .popup#searchWindow, .popup#upload, .popup#bottomPanel
{
	max-width: 960px;
	width: 80%;
	max-height: 668px;
	top: 100px;
	bottom: 50px;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 0;	
}


.popup #wrapper 
{
    margin: 0 0 0 20px;
    overflow: auto;
    height: calc(100% - 75px);
    max-width: 940px;
}

.popup h3, .popup h4
{
	/* display:block; */
}
.popup h4
{
	margin: 20px;
}

.popup h5
{
	margin: 0 20px;
	color: #4c5660;
	display: inline-block;
	font-size: 0.8em;
}

.popup p
{
    margin: 0px 40px;
}

.popup#info
{
	/* overflow-y:auto; */
}

.popup#requestMap
{
	overflow-y:auto;
	max-width: 480px;
	height: 180px;
	left: calc(50% - 240px);
	padding: 0;
	
	z-index: 9000;
}

.popup#shareWindow
{
	overflow-y:auto;
	max-width: 480px;
	height: 160px;
	left: calc(50% - 240px);
	padding: 0;
	
	z-index: 9000;
}


#searchWindow #searchTopBar {
    font-weight: 600;
    color: #00bff3;
}

.popup#profile form, .popup#newProfile form, #profileInfo, .popup#emailForm form
{
   display:block;
  overflow-y:auto;
  overflow-x:hidden;
}

.popup#profile form, #profileInfo
{

}

.popup#emailForm form
{
	height:335px;
}

.popup#upload .postTitle
{
	width: calc(50% - 30px);
	float: right;
}

.popup#upload textarea
{
	width: calc(50% - 30px);
	height: calc(100% - 220px);
}

.popup#upload #selectMap
{
	position: absolute;
	background: #f2f2f2;
	top: 75px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	overflow: auto;
	padding-left: 20px;
}

.profileField
{
    margin: 15px 0px; padding: 0; text-align: left; font-size: 1.2rem;  
    width: 300px; display: block;
}

.profileField a
{
    color: #4c5660;
	
}

.profileField lable
{
  width:30%;
  display:inline-block;
  vertical-align:middle;
}

.profileField input[type="text"], .profileField input[type="password"], .profileField select
{
 width: 300px;
  text-indent: 10px;
 padding: 0;
}

.profileField input[type="checkbox"]
{
	vertical-align: text-top;
	height: 22px;
	float: left;
}


#toolbar
{
	background:url("../images/toolbar_gradient"), gray;
	width:100%;
	height:40px;
	text-align:center;
	color:#fff;
	text-shadow: 1px 1px 2px #000;
	border-radius:0px 0px 5px 5px;
}

#toolbar div
{
	display:inline-block;
	position:relative;
	margin-top:18px;
}

#mainHeader input[type="radio"].select
{
	text-decoration:none;
	/*position:absolute;*/
	position:relative;
	float:left;
	z-index:0;
	opacity:0;
}
#mainHeader input[type="radio"].select+label
{
	color:#fff;
	text-shadow: 1px 1px 2px #000;
}
#mainHeader input[type="radio"]:checked.select+label
{
	color:#f66;
}

#toolbar a:active
{
	color:#f66;
}

#gender
{
	/*margin-left:15px;
	/*float:left;
	letter-spacing:8px;*/
}

.loginField
{
  margin: 15px 0px;
  padding: 0;
  text-align: left;
  font-size: 1.2rem;
  text-indent: 10px;
  width: 100%;
  display: block;
}

.loginBtn
{
	position: relative;
	top: 0px;
	left: 0px;
	border: 0;
	margin: 0;
  
}

#mainHeader #searchbar
{
	position: absolute;
	left: 75px;
	margin:0;
	height: 35px;
	display: inline-block;
	vertical-align: middle;
	width: 46.5%;
	max-width: 340px;
	white-space: nowrap;
	top: 18px;
}

#mainHeader #searchbar #search
{
	border:0;
	margin:0;
	text-align:left;
	height:100%;
	color:gray;
	width: calc(100% - 82px);
	max-width: 320px;
	padding-right: 65px;
	box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.3);
}

::-ms-clear {
    display: none;
}

#searchBtn
{
	position: absolute;
	width: 60px;
	height: 35px;
	display: inherit;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	right: 0px;
	top: 0;
	background-color: #00bff3;
	border-radius: 0px 4px 4px 0px;
}
#searchBtn:before{
	position:absolute;
	right:20px;
	top:8px;
	content:'';
	display:inline-block;
	width:20px;
	height:20px;
	background: url(../images/icons-sprite-sheet.svg);
	background-size: 480px;
	background-position: 0px -60px;
	cursor:pointer;
	z-index: 1;
}

#searchBtn:hover
{
	background-color:#6ccff6;
}

#sortMenu
{

	position: relative;
	left: 383px;
	

	top: 15px;
	display: inline-block;
	line-height:40px;
	vertical-align: top;
	text-align: center;
}

.navLink
{
	display:inline-block;
	margin: 0px 15px;
}


.full
{
	height:123px!important;

}



#menu
{
	position:absolute;
	left:330px;
	top:75px;
	z-index:1020;
}

#menu ul
{
}

#menu ul li
{
	float:left;
	width:138px;
	height:28px;
	margin-right:4px;
	background:#181c1f;
	border-color:#ec008c;
	border-style:dashed;
	border-top-width:1px;
	text-align:center;
	padding-top:8px;
}

#photoText
{
	color: #f2f2f2;
	padding: 13px 15px;
	width: 310px;
	height: 20px;
	position: absolute;
	top: 70px;
	left: calc(50% - 175px);
	display: none;
	z-index: 99999;
	text-align: center;
	box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	background: #00bff3;
	font-weight: 600;
	white-space: nowrap;
	line-height: 20px;
}

#displayWindow
{
	height:255px;
	position:relative;
	min-width:500px;
	max-width:640px;
	margin:auto;

}


#history
{
	position:fixed;
	bottom: 80px;
	width:50%;
	height: 80px;
	background: #f2f2f2;
	margin-left:25%;
	margin-right:25%;
	overflow:hidden;
}

#history #histImgs
{
	left:310px;
	height:60px;
	position:fixed;
	width:auto;
	transition:left 0.5s;
}

#histImgs img
{
	display:inline-block;
	position:relative;
	left:8px;
	top:0px;
	height:90%;
}


#footer
{
	position:fixed;
	bottom:0px;
	height: 35px;
	width: 100%;
	z-index: 1;
	background: #f2f2f2;
}

#footer a
{
	font-size: 0.8em;
}

#copyright {
	/* position:relative; */
	left:20px;
	min-width: 11%;
	margin: 0 2%;
	line-height: 35px;
	display: inline-block;
}
#footer .aboutBtn, #footer .privacyBtn, #footer .termsBtn{
	display: inline-block;
	margin: 0px 1.4%;
	line-height: 35px;
	}
	


#post-a-post-image-upload {
	position: relative;
	float: left;
	margin: 0;
	width: calc(50% - 30px);
	height: calc(100% - 120px);
	text-align:center;
	font-weight: 600;
	font-size: 1.5em;
	cursor: pointer;
}
	
#post-a-post-image-upload:hover {
	color:#00bff3;
	}	
#post-a-post-image-upload:before{
	content:'';
	width: 145px;
	height: 145px;
	margin: 10px auto;
	display: block;
	background-image: url(/images/icons-sprite-sheet.svg);
	background-repeat:no-repeat;
	background-size: 3480px;
	background-position: -2755px 0px;
	}
#post-a-post-image-upload:hover:before{
	background-position: -2755px -145px;
	}	
/****************************************
social
****************************************/

.twitter-share-button { 
	display: inline-block; 
	width: 32px; 
	height: 32px; 
	vertical-align: middle; 
	background-image: url(/images/icons-sprite-sheet.svg); 
	background-repeat: no-repeat; 
	background-size: 768px; 
    background-position: -640px -64px; 
	margin: 0px 0px 0px 10px;
}
.twitter-share-button:hover {
    background-position: -640px -96px;
}

.fb-share-button { 
	display: inline-block; 
	width: 32px; 
	height: 32px; 
	vertical-align: middle; 
	background-image: url(/images/icons-sprite-sheet.svg); 
	background-repeat: no-repeat; 
	background-size: 768px; 
    
	background-position: -608px -64px; 
	margin: 0px 0px 0px 20px;
}
.fb-share-button:hover {
    background-position: -608px -96px;
}

/**/
.gp-share-button { 
	display: inline-block; 
	width: 32px; 
	height: 32px; 
	vertical-align: middle; 
	background-image: url(/images/icons-sprite-sheet.svg); 
	background-repeat: no-repeat; 
	background-size: 768px; 
    
	background-position: -672px -64px; 
	margin: 0px 0px 0px 10px;
}
.gp-share-button:hover {
    background-position: -672px -96px;
}

.reddit-share-button { 
	display: inline-block; 
	width: 32px; 
	height: 32px; 
	vertical-align: middle; 
	background-image: url(/images/icons-sprite-sheet.svg); 
	background-repeat: no-repeat; 
	background-size: 768px; 
    
	background-position: -704px -64px; 
	margin: 0px 0px 0px 10px;
}
.reddit-share-button:hover {
    background-position: -704px -96px;
}

#fb {
	position:relative;
	right: 20px;
	float:right;
	width:50px;
	height:50px;
	background-image:url(/images/social_icons.png);
	background-position: 0 -5px;
	transition: background 0.2s;
	}
#fb:hover {
	background-image:url(/images/social_icons.png);
	background-position: 0px -55px;
	transition: background 0.2s;
	}

#twtr {
	position:relative;
	right: 20px;
	float:right;
	width:50px;
	height:50px;
	background-image:url(/images/social_icons.png);
	background-position: 100px -5px;
	transition: background 0.2s;
	}
#twtr:hover {
	background-image:url(/images/social_icons.png);
	background-position: 100px -55px;
	transition: background 0.2s;
	}
#eml {
	position: relative;
	right: 20px;
	float: right;
	width: 50px;
	height: 50px;
	background-image: url(/images/social_icons.png);
	background-position: 50px -5px;
	transition: background 0.2s;
	}
#eml:hover {
	background-image: url(/images/social_icons.png);
	background-position: 50px -55px;
	transition: background 0.2s;
	}


.arrows
{
	display:inline-block;
	position:absolute;
	width:50px;
	height:60px;
	z-index:2000;
}

#leftArrow
{
	left:0px;
	background:url(../images/left_arrow.png) #181c1f 50% 50% no-repeat;
}

#rightArrow
{
	right:0px;
	background:url(../images/right_arrow.png) 50% 50% no-repeat;
}

.displayBox
{
	position:relative;
	height:50px;
	background:#f66;
	border-color:#fff;
	border-style:solid;
	border-bottom-width:2px;
/*	margin-right:20px;*/
}

.displayBox:hover
{
	background:#f44;
}

.displayBox a
{
	color:#fff;
}

.displayBox span
{
	color: #fff;
	margin-right:12px;
}

.displayBox .idNum
{
	display:inline-block;
	position:relative;
	top:5px;
	margin:0 10px;
	width:40px;
	height:40px;
	background:black;
	border-radius:40px;
	text-align:center;
}

.displayBox .idNum span
{
	line-height:40px;
	margin-left:8px;
}

.displayBox .username, .displayBox .info
{
	display:inline-block;
	border-color:#fff;
	border-style:solid;
/*	border-bottom-width:1px;*/
	width:400px;
	height:20px;
	position:absolute;
	left:130px;
	margin-top:10px;
}

.displayBox .info
{
	top:20px;
}

.info label
{
	color:#fff;
	font-weight:normal;
}
.displayBox .twitter
{
	display:inline-block;
	position:absolute;
	right:0px;
	top:-10px;
	margin:0;
}

menu#mapMenu {
    position: absolute;
    top: 0px;
    width: 40px;
    height: 50px;
    left: calc(50% - 40px);
    /* text-align: center; */
    margin: 0px;
}

menu#mapMenu>div
{
    background-color: #f2f2f2;	
    box-shadow: 2px 6px 10px 2px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 30px;    
}
menu#mapMenu>div:before
{
	content:'';
	display:inline-block;
	background-image: url("../images/icons-sprite-sheet.svg");
	height: 40px!important;
	width: 40px;
	background-size: 960px;
		
}

#photoBtn
{
	width:40px;
	height:40px;
	position: relative;
	/* left: 190px; */
	top: 5px;
	display:inline-block;
	vertical-align: top;
	cursor: pointer;
}

#photoBtn:before
{
	background-position: -160px 0;

}

#photoBtn:hover:before
{
	background-position: -160px -40px;
}

.snapOverContainer
{
	position:absolute;
	float:left;
	top:30px;
	left:10px;
	z-index:1001;
	border-radius:7px;
	/*display:none;*/
}

.snapOverContainer div
{
	width:30px; height:30px;
	background:url("../images/icons.png") #ec008c 0px -193px!important;
	background-size:205%!important;

}

.snapOverContainer div:hover
{
	width:30px; height:30px;
	background:url("../images/icons.png") #ec008c !important;
	background-position:0 -205px!important;
	background-size:205%!important;

}

#message
{
  display:block;
  width:400px;
  position:relative;
  margin:5px;
  color: red;
}


#panelBottom {
    left: 0px;
    position: absolute;
    height: calc(100% - 124px);
    width: 100%;
    background: #f5f8f9;
}

#postContent img {
    margin: auto;
    position: relative;
    display: block;
    max-width: 100%;
    height: 100%;
}
div#postContent {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}


.panelTop {
    min-height: 54px;
    border-bottom: solid 1px #8a9398;
    width: calc(100% - 20px);
    word-wrap: normal;
    padding: 20px 10px 0 10px;
    position: relative;
    text-align: center;
}

#bottomPanel .panelTop
{
    font-size: 0;
}

#panelTitle, .postTitle, .mapTitle
{
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

h4.panelTitle
{
	line-height: 24px;
	vertical-align: bottom;	
	width: calc(100% - 310px);	
    font-weight: 600;
	text-align: center;	
	position: relative;
	/* left: 0px; */
	/* right: 0px; */
	font-size: 14px;
	top: 0;
	z-index: -1;
	margin: 0px auto 0px;
	display: block;
}

h4.panelTitle.left
{
    margin: 0;
	
    width: initial;
    text-align: left;
    font-size: initial;
    line-height: 40px;
}

h4.panelTitle.left:before
{
    content: '';
	display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    background-repeat:no-repeat;
    background-position: -160px 0px;
    background-size: 960px;
    margin-right: 10px;	
    float: left;
}


#upload h4.panelTitle.left:before
{
    background-image: url(/images/icons-sprite-sheet.svg);	
}

#postPreviews, #subscriptions, #ownedMaps
{
    overflow: hidden;
    margin: 20px 0;
    height: calc(100% - 80px);
    padding: 0 20px;
    position: relative;
}

.postUser
{
	display: inline-block;
	line-height: initial;
	position: absolute;
	top: 20px;
	font-size: 0.8em;
	color: inherit;
	font-weight: 600;
	left: 35px;
	width: 100%;
	text-align: left;
}

.postPreview, .subscriptionPreview, .mapPreview {
    height: 94px;
    border-bottom: solid 1px rgba(145, 152, 158, 0.2);
    /* margin: 20px 20px 0px 20px; */
    padding-bottom: 5px;
    position: relative;
    margin-bottom: 15px;
}

#selectMap .mapPreview
{
	cursor:pointer;
}

#selectMap .mapPreview:hover
{
	background:#fff;
}

.postPreview
{
	height:initial;
}

.postPreview .postLink, .mapPreview .mapLink, .subscriptionPreview .mapLink
{
	position:relative;
	/* display: inline-block; */
}

.postPreview .postTitle
{
	text-align:left;
	/*margin-right: 6px;*/
	text-overflow: ellipsis; 
	white-space: nowrap;
}

.postTitle{
    width: 50%;
    font-weight: 600;
    vertical-align: middle;
}

.postTitle:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background-image: url(/images/icons-sprite-sheet.svg);
	background-repeat:no-repeat;
	
    background-position: -30px -60px;
    background-size: 720px;
    margin-right: 10px;
    cursor: pointer;
}
.postTitle:hover:before {
	background-position: -30px -90px;
}
.postTitle:hover{
	color:#00bff3;
}


div#postInfoLeft {
    position: absolute;
    max-width: 150px;
    height: 40px;
    top: calc(50% - 20px);
    font-size: initial;
}

.mapTitle  {
    font-weight: 600;
    vertical-align: middle;
	/*taken from postActions maptitle*/
    font-weight: bold;
    vertical-align: middle;
    width: auto;
	
    height: 35px;
	
    font-size: 0.8em;
    line-height: 1em;
    margin: 0!important;
    overflow: visible;
}

#selectMap .mapTitle
{
	
    height: initial;
    font-size: initial;
    line-height: initial;
    display: block;
    overflow: hidden;
}

#selectMap .mapTitle:hover
{
	
}

.mapTitle a
{
    color: #4c5660;	
}

.mapTitle a:hover
{
	color:inherit;
}

.mapTitle:before {
    content: '';
	display: inline-block;
    width: 26px;
    height: 26px;
    vertical-align: middle;
    background-image: url(/images/icons-sprite-sheet.svg);
    background-repeat:no-repeat;
    background-position: -260px 0px;
    background-size: 624px;
    margin-right: 10px;	
    float: left;

}

a .mapTitle:hover:before {
	background-position: -260px -26px;
}
a .mapTitle:hover{
	color:#00bff3;
}


menu .iconBtn
{
    margin-right: 10px;
	
}

menu .iconBtn:last-child
{
	margin-right:0;
}

menu .iconBtn.sideBtn {
    display: inline-block;
    margin: 4px 10px;
    line-height: 40px;
}

#photoDesc {
    font-family: inherit;
    line-height: 1.7em;
    overflow: auto;
    white-space: pre-line;
    font-size: 0.8em;
    background: #f2f2f2;
    width: calc(100% - 70px);
    padding: 30px 50px 40px 20px;
    position: absolute;
    bottom: -1px;
    height: calc(100% - 70px);
    max-height: 50%;
    display: none;
}


#showPhotoDesc {}

#panelBottom:hover>#showPhotoDesc
{
	opacity:0.5;
}


#showPhotoDesc:hover
{
	opacity:1!important;
}

#photoDesc a {
    color: #00bff3;
}

#photoDesc a:hover {
    color: #63D2F0;
}

#panelInfoWindow {
    height: 49px;
    border-bottom: 0;
}

.panelInfo
{
	margin:0px 5px;
}


/******************
		icons
******************/

.commentBtn.iconBtn:before
{
	background-position: -384px 0px;	
}

.commentBtn.iconBtn:hover:before, .commentBtn.iconBtn.active:before
{
	background-position: -384px -24px;
}
.showPhotoDescBtn.iconBtn:before
{
	background-position: -72px -48px;	
}
.showPhotoDescBtn.iconBtn:hover:before, .showPhotoDescBtn.iconBtn.active:before
{
	background-position: -72px -72px;	
}
#likes.iconBtn:before
{
    background-position: -73px 0px;
}

#likes.iconBtn:hover:before
{
    background-position: -73px -18px;
}

.multi.iconBtn:before
{
	background-position: -96px 0px;
	display: none;
}
.multi.iconBtn:hover:before
{
	background-position: -96px -24px;
}
.postPreview .iconBtn:hover:before {}

.share.iconBtn:before
{
	background-position: -192px 0px;	
}

.share.iconBtn:hover:before
{
	background-position: -192px -24px;
}

.subscribe.iconBtn:hover:before
{
    background-position: -406px -150px;
}


.subscribe.iconBtn:before
{
	background-position: -144px 0px;
	float: left;
}

.subscribe.iconBtn:hover:before
{
    background-position: -144px -24px;
}


.makePhotoPostBtn.iconBtn:before
{
	/*background-position: -24px -48px;*/
	background-position: -24px -72px;	
}

.makePhotoPostBtn.iconBtn:hover:before
{
	background-position: -24px -72px;
}



#likeCount {
    color: #00bff3;
    margin: 0 5px;
}
#viewCount {
    color: #00bff3;
}



.iconBtn:hover, .likedOn, .likeOn:before
{
	color:#00bff3;
	background-position: -73px -18px;
}

.rightHoverFloat
{
	width:0px;
	height:0px;
	position:absolute;
	background:#f09;
	border-style:dashed;
	border-color:#f09;
	border-left-width:2px;
	font-size:0.7rem;
	display:none;
	text-align:center;
	cursor: pointer!important;
}

.rightHoverFloat.likes
{
	top:50px;
	width:70px;
	height:48px;
	background-size:37%;
	background-position:center 18px;
	color:white;

}

.result
{
	min-height:25px;
	border-bottom-width:1px;
	border-style:dotted;
	width:100%;
	padding: 10px 0;
  
  cursor:pointer;
	line-height: 2em;
}

.result:hover
{
	color:#00bff3;
}

.errorMsg
{
  font-size: 1rem;
  color: red;
  padding: 5px;
}

#preview
{
  width: calc(100% - 40px);
  height: auto;
  margin: 0 auto;
  display: inherit;
  position: absolute;
  top: 10px;
  left: -500px;
  right: -500px;
}

form#photoForm {
    position: relative;
    height: calc(100% - 80px);
}

#photoForm label, #photoForm input[type="file"]
{
  position: absolute;
  top: 0;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}



/********************/
.photoTail
{
	/* border-top: 25px solid #f2f2f2; */
	/* border-right: 25px solid transparent; */
/*	margin-top: -5px;
	position: relative;
	text-shadow: 3px 6px 8px rgba(0, 0, 0, 0.5);
	color: #f2f2f2;
	font-size: 2.2rem;
	line-height: 25px;*/
	-webkit-filter: drop-shadow( 4px 6px 3px rgba(0,0,0,0.5) );	
	height: 25px;
	width: 25px;
	position:relative;
}


/*
post management
*/

section.rightSlideIn
{
    background: #f2f2f2;	
    width: 450px;
    height: calc(100% - 175px);
    position: fixed;
    right: -455px;
    top: 120px;
    border-radius: 5px 0 0 5px;
    box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.3);
	transition:right 0.5s;
    overflow: hidden;
    z-index: 9000;
}

section.rightSlideIn.open
{
	right:0px;
}

section#managePost, section#mapInfo {
}

#managePost .managementTitle:before {
	background-position: -30px 0px;
}

#mapInfo .managementTitle:before {
	background-position: -260px 0px;
}

.managementTitleBar {
    border-bottom: solid 1px;
    height: 40px;
}


.managementTitle:before {
    content: '';
    display: inline-block;
    width: 26px;
    height: 26px;
    vertical-align: middle;
    background-image: url(/images/icons-sprite-sheet.svg);
	background-repeat:no-repeat;
    background-size: 624px;
    margin: 7px 5px;
}

#requestMap .managementTitle:before
{
	background-position: -52px 0px;
}

#shareWindow .managementTitle:before
{
	background-position: -208px 0px;
}

#comments .managementTitle:before
{
	background-position: -416px 0px;
}


#managePost .managementTitle:before
{
	background-position: -78px 0px;
}

#manageSubscriptions .managementTitle:before
{
	background-position: -182px 0px;
}

#searchWindow .managementTitle:before
{
		background:none;
		content: initial;
}



#manageMaps .managementTitle:before
{
	background-position: 0px 0px;
}

#mapInfo img
{
	max-height: 180px;
	width: calc(100% + 40px);
	position: relative;
	left: -20px;
	top: 0px;
	display: block;
	margin-bottom: 20px;
}

#mapInfoBody
{
	height: calc(100% - 70px);
	padding: 10px 20px 20px 20px;
	position: relative;
}

#mapInfoBody .subscribe, #subscriptions .subscribe
{
    background: #f47032;
    border-radius: 15px;
    color: white;
    padding-right: 8px;
    font-size: 0.9em;
    width: 100px;
    line-height: 25px;
    /* vertical-align: middle; */
}

.subscribe.static
{
	width: inherit!important;
	padding: 0!important;
	
	color: #f7945c;
	font-weight: 600;
	cursor: inherit;
}
.subscribe.static:before
{
	display: inline-block;
	background-position: -144px 0px!important;
	float: none;
	margin-right: 9px;
}
#mapInfoBody .subscribe:hover, #mapInfoBody .subscribe.active:hover,
#subscriptions .subscribe:hover, #subscriptions .subscribe.active:hover
{
	background-color:#f7945c;
	opacity: 1;
}

#mapInfoBody .subscribe.active:before,
#subscriptions .subscribe.active:before
{
	background-position: -168px 0px;
}

#mapInfoBody .subscribe.active:hover:before,
#subscriptions .subscribe.active:hover:before
{
	background-position: -144px -24px;
}


#mapInfoBody .subscribe.active, #subscriptions .subscribe.active
{
	background-color:#899196;
	opacity: 0.5;
}



.subscriptionPreview .share, .mapPreview .share, #mapInfoBody .share
{
	float:right;
}


pre#mapDesc {
	position: absolute;
	width: calc(100% - 40px);
	bottom: 20px;
	top: 280px;
	border-top: solid 1px rgba(145, 152, 158, 0.2);
	margin-top: 20px;
	padding-top: 10px;
	white-space: pre-wrap;
	font-family: inherit;
	overflow: auto;
	line-height: 1.5em;
	font-size: 0.9rem;
}



.previewTopBar {
    margin-bottom: 5px;
    height: 29px;
    /* margin-top: 25px; */
}
.postActions {
    display: inline-block;
    margin: 0px 10px;
    width: calc(60% - 20px);
    vertical-align: top;
}

.previewImg {
    width: 160px;
	
    height: 100px;
	
    /* overflow:hidden; */
    display: inline-block;
	
    background-color: white;
}

.previewInfo
{
	display: inline-block;
	vertical-align: middle;
}

.subCount {
    font-size: 0.8em;
	font-weight: 600;
}

#subscriptions .previewImg, #ownedMaps .previewImg, .mapPreview .previewImg
{
	height:58px;
}

#selectMap .previewImg
{
    margin: 20px 10px;
	
    /* float: left; */
    vertical-align: middle;
}

.previewImg img
{
	width:100%;
	height: 100%;
	position:relative;
	min-height: 100%;
}

#subscriptions .previewImg img,
#ownedMaps .previewImg img
{
	/* width:100%; */
	/* height:100%; */
	top:0px;
}

.previewTopBar .postDate {
    /* font-weight: 600; */
    /* color: #c8cccf; */;
    float: right;
    margin-right: 30px;
    line-height: 1.8em;
}

.panelTop .postDate
{
	
    text-align: center;
    line-height: 24px;
    position: relative;
    top: 0px;
    font-size: 11px;
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 0;
}

.previewInfo .postDate
{
    margin-left: 36px;
	
}

.settings {
    display: inline-block;
    width: 20px; 
    height: 20px; vertical-align: middle; 
    background-image: url(/images/icons-sprite-sheet.svg);
	background-repeat:no-repeat;
	
    background-position: -280px 0px; 
    background-size: 480px;  
    position: absolute;
    right: 0px;
    cursor: pointer;
}
.settings:hover {
	background-position: -280px -20px;		
}
.panelTop .settings
{
    width: 24px;
	
    height: 24px;
    background-size: 576px;
    background-position: -336px 0;
    top: 25px;
    right: 10px;
    z-index: 999;
}
.panelTop .settings:hover
{
  
    background-position: -336px -24px;
    
}
.settingsMenu {
    position: absolute;
    right: 10px;
    top: 20px;
    /* display: none; */
    line-height: initial;
    white-space: initial;
    font-size: initial!important;
}

.thumb
{
	position:relative;
	display:block;
	width:5%;
}


.leaflet-control-zoom
{
	top:60px;
	
}


section#comments {
    width: 100%;
    height: 50%;
    max-height: calc(100% - 61px);
    position: absolute;
    bottom: -55%;
    top: inherit!important;
    z-index: 10000;
    background: #f2f2f2;
    overflow: hidden;
    transition:bottom 0.5s;
}

#comments.open
{
	bottom: 0px!important;

}

#postComment {
    float: none;
}

#commentsBody {
    height: calc(100% - 80px);
    overflow: auto;
    padding: 20px 0px;
}

textarea#comment {
    height: 60px;
    width: 500px;
}

article.comment {
    padding: 0px 50px 10px 50px;
    width: calc(100% - 101px);
	border-left:solid 1px ;
    float: left;
}


pre.commentText {
    white-space: pre-wrap;
    margin: 10px 0px;
    color: #4c5660;
    font-family: inherit;
    max-width: 60%;
    line-height: 1.35em;
}
.commentUsername {
    display: block;
}
.commentDate {
    font-size: 0.7em;
}