@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	font-size:14px;
	font-family:'Open Sans', sans-serif;
	color:#8a9398;
	background-color:#f2f2f2;
	min-height: 490px;
	height: 100%;
}
a, a:hover, a:active{
	text-decoration:none;
	color:inherit;
	}
/*******************Spalsh***************************/
#spalsh-container{
	position: relative;
	width:80%;
	height:calc(100% - 30%);
	left:10%;
	right:10%;
	margin-top:10%;
	}
#spalsh-text-1 {
	position: relative;
	font-size:1.2rem;
	color:#4c5660;
	text-align:center;
	}
#spalsh-text-2 {
	position: relative;
	font-size:1rem;
	margin-top:20%;
	color:#4c5660;
	text-align:center;
	}

/******************Login****************************/
#main-login {
	position: relative;
	width:100%;
	height:100%;
	/* min-height: 530px; */
}

#main-box {
	position: absolute;
	width:100%;
	height:100%;
	min-height: 530px;
}
#login-logo-box {
	position: relative;
	width:50%;
	height: 42px;
	margin: 30px auto;
	top: 10%;
	background-image: url(/images/snaplas-logo-full.svg);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	}
#login-logo-mobile {
	position: relative;
	top: 75%;
	left:50%;
	} 
#login-form-container{
	position: relative;
	width:80%;
	height:50%;
	margin: 0 auto;
	top: 12%;
	}
.login-form-box {
	position: relative;
	width:calc(100% - 20px);
	margin-top:10%;
	padding-left:10px;
	padding-right:10px;
	border:none;
	color:#4c5660;
	height:40px;
	background-color:#fff;
	border-radius:4px;
	}
#login-sign-in-btn {
	position: relative;
	width:60%;
	height:40px;
	line-height:40px;
	text-align:center;
	margin-top:10%;
	left:20%;
	background-color:#00bff3;
	color:#fff;
	border:none;
	border-radius:4px;
	}
#login-sign-in-btn:hover {
	background-color:#6dcff6;
	}
#login-use-description {
	position: relative;
	top: 20%;
	width:80%;
	left:10%;
	}
	
div#loginError {
    position: relative;  
    margin: 10% auto 0 auto;    
    color: red;   
    text-align: center;
}	
/**********************************Map List*************************/

#nav {
	position: relative;
	width:100%;
	height:60px;
	border-bottom:1px solid #8a9398;
	text-align: center;
}
.nav-btn {
	position: relative;
	width:32%;
	text-align:center;
	display:inline-block;
	font-weight:bold;

	width: 24%;
	height: 50px;
	margin-top: 5px;
}
.nav-btn:before
{
	content:'';
	display: block;
	background-image: url("/images/icons-sprite-sheet.svg");
	background-size: 720px;
	position: relative;
	width: 30px;
	height: 30px;	
	margin:  auto;
	top: 12px;
}

#nav-btn-maps:before
{
	background-position: 0px 0px;
}
#nav-btn-subs:before
{
	background-position: -210px 0px;
}
#nav-btn-posts:before
{
	background-position: -90px 0px;
}
#nav-btn-logout:before
{
	background-position: -240px -60px;
}



#nav-btn-maps.active:before
{
	background-position: 0px -30px;
}
#nav-btn-subs.active:before
{
	background-position: -210px -30px;
}
#nav-btn-posts.active:before
{
	background-position: -90px -30px;
}
#nav-btn-logou.activet:before
{
	background-position: -240px -90px;
}

#list-container, #other-container {
	position: relative;
	overflow-y:auto;
	}
#other-container
{
	display:none;
	height: calc(100% - 61px);
}
#map-container
{
	display:none;
	height: calc(100% - 61px);	
}
.map-list-container {
	height:calc(100% - 61px);
	}
.map-item-box{
	position: relative;
	display:block;
	width:100%;
	height:60px;
	border-bottom:1px solid #bdc3c7;
	}
.map-item-box:hover{
	background-color:#fff;
	}
.map-item-top{
	position: relative;
	height:40px;
	line-height:40px;
	}
.map-name {
	display:inline-block;
	float:left;
	margin-left:10px;
	font-weight:600;
	color:#4c5660;
	font-size:1.1rem;
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap;	
	}
.map-name:before{
	content:'';
	width: 30px;
	height:30px;
	margin-right: 10px;
	vertical-align:text-bottom;
	display:inline-block;
	background-image: url(/images/icons-sprite-sheet.svg);
	background-repeat:no-repeat;
	background-size: 720px;
}
.map-name.map-type-public:before{
	background-position: -300px 0px;
	}
.map-item-bottom{
	position: relative;
	height:20px;
	line-height:15px;
	}
.map-creation-date {
	float:left;
	display:inline-block;
	margin-left: 50px;
	line-height:15px;
	font-weight:400;
	color:#8a9398;
	font-size:0.8rem;
	}
.map-subscribers-icon {
	float:right;
	margin-top:3px;
	margin-right:3px;
	width:30px;
	height:30px;
	background-image: url(/images/icons-sprite-sheet.svg);
	background-repeat:no-repeat;
	background-size: 720px;
	background-position: -180px 0;
	}
.map-subscribers {
	float:right;
	margin-right:10px;
	display:inline-block;
	line-height:15px;
	font-weight:600;
	color:#f36f31;
	font-size:0.8rem;
	}
/**********************************Post List*************************/
.post-list-container {
	height:calc(100% - 121px);
	}
#post-new {
	position: fixed;
	bottom:0;
	width:100%;
	height:60px;
	line-height:58px;
	display:none;
	text-align:center;
	font-weight:600;
	color:#8a9398;
	font-size:1.1rem;
	border-top:1px solid #8a9398;
	background-color: #f2f2f2;
}
#post-new:hover {
	color:#00bff3;
	background-color:#fff;
	}
#post-new:before{
	content:'';
	width:50px;
	height:50px;
	margin-right: 10px;
	vertical-align: middle;
	display:inline-block;
	background-image: url(/images/icons-sprite-sheet.svg);
	background-repeat:no-repeat;
	background-size: 1200px;
	background-position: -200px 0px;
	}
#post-new:hover:before{
	background-position: -200px -50px;
	}
.post-item-box {
	position: relative;
	display:block;
	width:100%;
	height:60px;
	border-bottom:1px solid #bdc3c7;
	}
.post-item-box:hover {
	background-color:#fff;
	}
.post-image {
	float:left;
	height:60px;
	width:60px;
	background-color:#ccc;
	}
.post-image img
{
	width:100%;
	height:100%;
}
.post-info-box{
	float:left;
	margin-left:10px;
	width: calc(100% - 100px);
}
.post-info-name{
	height:35px;
	width: 100%;
	line-height:40px;
	font-weight:600;
	color:#4c5660;
	font-size:1.1rem;
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap;
}
.post-info-date{
	height:15px;
	line-height:10px;
	font-weight:400;
	color:#8a9398;
	font-size:0.8rem;
	}
.post-edit-icon {
	float:right;
	width:20px;
	height:20px;
	margin:20px 10px 0 0;
	background-image: url(/images/icons-sprite-sheet.svg);
	background-repeat:no-repeat;
	background-size: 480px;
	background-position: -100px -40px;
	}
/*********************************Post a Post********************************/
#post-a-post-form-size {
	position: relative;
	width:100%;
	height:100%;
	}
#post-a-post-container {
	position: relative;
	height:calc(100% - 60px);
	overflow-y:auto;
	}
#continue-btn, #post-a-post-btn, #update-post-btn {
	position: absolute;
	bottom:0;
	width:100%;
	height:60px;
	line-height:58px;
	display:inline-block;
	text-align:center;
	font-weight:600;
	color:#fff;
	font-size:1.1rem;
	background-color:#00bff3;
	}
#continue-btn:hover, #update-post-btn:hover, #post-a-post-btn:hover {
	background-color:#6dcff6;
	}
.post-a-post-title {
	position: relative;
	left:5%;
	width:calc(90% - 20px);
	margin-top:5%;
	padding-left:10px;
	padding-right:10px;
	border:none;
	color:#4c5660;
	height:40px;
	background-color:#fff;
	border-radius:4px;
	}
#post-a-post-image-upload {
	position: relative;
	left:5%;
	margin-top:5%;
	width:90%;
	height:50px;
	padding-top:20%;
	padding-bottom:20%;
	text-align:center;
	border:1px solid #bdc3c7;
	font-weight:600;
	}
img#preview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}	
#post-a-post-container input[type="file"]
{
  display: none;
}

#post-a-post-image-upload:hover {
	color:#00bff3;
	border:1px solid #00bff3;
	}	
#post-a-post-image-upload:before{
	content:'';
	width:50px;
	height:50px;
	vertical-align: middle;
	display:inline-block;
	background-image: url(/images/icons-sprite-sheet.svg);
	background-repeat:no-repeat;
	background-size:900px 200px;
	background-position:-650px -100px;
	}
#post-a-post-image-upload:hover:before{
	background-position:-650px -150px;
	}
#postText {
	position: relative;
	left:5%;
	margin-top:5%;
	width:calc(90% - 20px);
	border:none;
	background-color:#fff;
	border-radius:4px;
	color:#8a9398;
	padding:10px;
	height: calc(100% - 330px);
}
#post-a-post-map-prompt {
	/* position: fixed; */
	height:30px;
	line-height:30px;
	width:100%;
	background-color:#00bff3;
	color:#fff;
	font-size:1rem;
	text-align:center;
	}
#post-location-pin {
	margin-top:50px;
	width:70px;
	height:70px;
	display:inline-block;
	background-image: url(/images/icons-sprite-sheet.svg);
	background-repeat:no-repeat;
	background-size:1260px 280px;
	background-position:-70px -210px;
	}
#map {
	position: relative;
	height:calc(100% - 90px);
}
