input
{
	width:160px;
}
lable
{
	display:inline-block;
	width:80px;
	text-align:right;
	margin-right:10px;
}
body
{
	background:#FF6666;
}
#content
{
	padding:0px; 
	margin:0px; 
	height:200px;
	z-index:1001; 
	top:0px; 
	left:1200%;

}
p
{
/*	border-width:1px;	*/
	border-style:solid;
	border-color:#338;
	color:#338;
	border-bottom-width:0px;
	padding:5px;
}
