body {
	margin:0;
	padding:0;
	font-size:14px;
	font-family:'Open Sans', sans-serif;
	color:#8a9398;
	}
a {
	text-decoration:none;
	color:inherit;
}

li a{
	display:block;
}

.splash-container{
	position:absolute;
	width:100%;
	height:100%;
	}
#splash-bg {
	background:url("/images/snaplas-splash.jpg") center center;
	background-repeat:none;
	background-size:cover;
	}
/*****************************Header******************************/
#header-container {
	position:relative;
	width:100%;
	height:100px;
	}
#logo-container{
	position:absolute;
	width:152px;
	height:38px;
	background-image:url("/images/snaplas-logo-full-w.svg");
	background-repeat:no-repeat;
	background-size: 152px;
	margin-top:25px;
	left:5%;
	}

#sign-in-btn {
	display:inline-block;
	float:right;
	height:40px;
	padding-left:20px;
	padding-right:20px;
	margin-top:30px;
	margin-right:5%;
	line-height:40px;
	color: #4c5660;
	font-weight:600;
	text-align:center;
	background-color: #f2f2f2;
	border-radius:4px;
	transition: color 0.1s;
	cursor:pointer;
	}
#sign-in-btn:hover{
	transition: color 0.1s;
	color: #00bff3;
}
.maps-btn{
	display:inline-block;
	float:right;
	margin-right:20px;
	padding-left:20px;
	padding-right:20px;
	margin-top:30px;
	line-height: 40px;
	color: #4c5660;
	font-size: 1rem;
	font-weight:600;
	text-align: center;
	background-color: #f2f2f2;
	border-radius: 4px;
	cursor: pointer;
	}
.maps-btn:before{
	content: '';
	display: inline-block;
	background-image: url("/images/icons-sprite-sheet.svg");
	background-repeat: no-repeat;
	background-size: 624px;
	background-position: 0px 0px;
	margin: 7px 5px 5px 0;
	width: 26px;
	height: 26px;
	vertical-align: top;
	}
.maps-btn:hover{
	color: #00bff3;
	}
.maps-btn:hover:before{
	background-position: 0px -26px;
	}
/***********************maps menu*******/
.maps-menu-closed{
	position: absolute;
	z-index: 10;
	top: 1px;
	width: 300px;
	height: 0;
	top: 74px;
	right: calc(5% + 106px);
	background-color: #f2f2f2;
	transition: height 0.2s ease-out;
	overflow: hidden;
	border-radius:4px;
	box-shadow:0px 10px 10px rgba(0,0,0,0.3);
	}
.maps-menu-open{
	height: 638px;
	transition: height 0.2s ease-in;
	}
.maps-menu-closed ul{

	padding:0;
	margin-top:0;
	margin-bottom:0;
	}
.maps-menu-closed li{
	display:block;
	line-height:70px;
	text-decoration:none;
	height:70px;
	padding-left:20px;
	margin: 0 20px 0 20px;
	cursor:pointer;
	transition: color 0.15s, padding-left 0.2s;
	border-bottom: 1px solid #dcdee0;
	}
.maps-menu-closed li:last-child{
	border-bottom:none;
	}
.maps-menu-closed li:hover {
	padding-left:40px;
	color:#00bff3;
	transition: color 0.15s, padding-left 0.2s;
	}
/*****************************Main******************************/
.main-container{
	position:relative;
	width:100%;
	height:calc(100% - 140px);
	overflow-y:auto;
	/* background: rgba(0, 0, 0, 0.3); */
}
.blurb-container {
	position:relative;
	width:80%;
	max-width:1280px;
	margin-left:auto;
	margin-right:auto;
	}
.blurb-text-large {
	color:#fff;
	font-size:4rem;
	font-weight:600;
	text-align:center;
	margin:50px 0 0 0;
	padding:0;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	}
.blurb-text-medium {
	color:#f2f2f2;
	font-size:1.7rem;
	font-weight:400;
	text-align:center;
	margin:80px 0 0 0;
	padding:0;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.main-map-btn {
	position: relative;
	display:inherit;
	height: 60px;
	width: 200px;
	margin-top: 7%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	line-height: 60px;
	color: #fff;
	font-size: 1.5rem;
	font-weight: 600;
	text-align: center;
	background-color: #00bff3;
	border-radius: 4px;
	cursor: pointer;
	
	}
.main-map-btn:before{
	content: '';
	display: inline-block;
	background-image: url("/images/icons-sprite-sheet.svg");
	background-repeat: no-repeat;
	background-size: 960px;
	background-position: 0px -80px;
	margin: 10px 10px 10px 0;
	width: 40px;
	height: 40px;
	vertical-align: top;
	}
.main-map-btn:hover{
	color: #fff;
	background-color:#6dcff6;
	}
/*.main-map-btn:hover:before{
	background-position: 1px -40px;
	}*/
.form-container{
	position:relative;
	margin-top:5%;
	max-width:474px;
	margin-left:auto;
	margin-right:auto;
	}
#form-text-box {
	position:relative;
	width:280px;
	border:none;
	border-radius:4px;
	background-color:#fff;
	height:40px;
	color:#4c5660;
	padding:0 10px 0 10px;
	}
.form-submit-btn {
	position: relative;
	height: 40px;
	top:1px;
	width: 150px;
	margin-left:20px;
	line-height: 40px;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	border:none;
	text-align: center;
	background-color: #00bff3;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.1s;
	}
.form-submit-btn:hover{
	background-color: #6dcff6;
	transition: background-color 0.1s;
	}

#registerBtnMain
{
    margin: 50px auto;
	
    display: block;
    height: 50px;
}
.closeBtn
{
	position: absolute;
	right: 15px;
	width:40px;
	height:40px;
	cursor:pointer;
	user-select:none;
	display: inline-block;
	/* vertical-align: middle; */
	/* float: right; */
	/* top: 5px; */
}
.closeBtn:before{
	content:'';
	display: inline-block;
	margin: 10px;
	width: 20px;
	height: 20px;
	background-image: url("../images/icons-sprite-sheet.svg");
	background-size: 480px;
	background-position: -300px 0px;
}
.closeBtn:hover:before{
	background-position: -300px -20px;
}
/*****************************How To*************/
.ht-title-text {
	text-align:center;
	font-size:2rem;
	color:#4c5660;
}
/*****************************Footer******************************/
#footer-container{
	position:relative;
	width:100%;
	height:40px;
	bottom:0;
	}
#copyright {
	position:absolute;
	width:150px;
	line-height:40px;
	font-size:0.8rem;
	left:3%;
	}
#legal-container{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:30%;
	min-width:260px;
	height:40px;
	line-height:40px;
	bottom:0;
	}
.legal-btn{
	margin-left:20px;
	margin-right:20px;
	transition:color 0.1s;
	}
.legal-btn:hover{
	color:#f2f2f2;
	transition:color 0.1s;
	}
#social-container{
	position:absolute;
	right:0;
	width:20%;
	min-width:200px;
	height:40px;
	bottom:0;
	}
.social-btn{
	float:right;
	padding: 7px 10px 7px 10px;
	}
#fb{
	width:26px;
	height:26px;
	}
#fb:before{
	content:'';
	width: 26px;
	height: 26px;
	display: inline-block;
	background: url("/images/icons-sprite-sheet.svg");
	background-repeat:no-repeat;
	background-size: 624px;
	background-position: -416px -52px;
	transition: 0.2s;
	}
#fb:hover:before{
	background-position: -416px -78px;
	transition: 0.2s;
	}
#twtr{
	width: 26px;
	height: 26px;
	}
#twtr:before{
	content:'';
	width: 26px;
	height: 26px;
	display: inline-block;
	background: url("/images/icons-sprite-sheet.svg");
	background-repeat:no-repeat;
	background-size: 624px;
	background-position: -468px -52px;
	transition: 0.2s;
	}
#twtr:hover:before{
	background-position: -468px -78px;
	transition: 0.2s;
	}
#eml{
	width:26px;
	height:26px;
	}
#eml:before{
	content:'';
	width: 26px;
	height: 26px;
	display: inline-block;
	background: url("/images/icons-sprite-sheet.svg");
	background-repeat:no-repeat;
	background-size: 624px;
	background-position: -286px -52px;
	transition: 0.2s;
	}
#eml:hover:before{
	background-position: -286px -78px;
	transition: 0.2s;
	}
/*****************************@media*******************************/
@media screen and (max-width: 1280px) {
	.blurb-text-large {
		font-size:3rem;	
	}
}
@media screen and (max-width: 690px){
	.main-container{
		height: calc(100% - 220px);
	}
	#logo-container {
		width:50px;
		height:50px;
		background-image:url("/images/snaplas-logo-w.svg");
		background-repeat:no-repeat;
		background-size: 40px;
		margin-top:20px;
	}
	.blurb-text-large {
		margin:20px 0 0 0;
		font-size:2rem;	
	}
	#form-text-box {
		margin-left:calc(50% - 150px);
	}
	.form-submit-btn {
		margin-left:calc(50% - 75px);
		margin-top:20px;
	}
	.blurb-text-medium{
		margin:20px 0 0 0;
		font-size: 1.3rem;
	}
	#footer-container{
		height:120px;	
	}
	#copyright {
		position:absolute;
		width:100%;
		line-height:40px;
		font-size:0.8rem;
		text-align:center;
		bottom:0;
		left:0;
	}
	#legal-container{
		position:relative;
		top:40px;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
		width:30%;
		min-width:260px;
		height:40px;
		line-height:40px;
		bottom:0;
	}
	#social-container{
		position:absolute;
		right:calc(50% - 80px);
		width:160px;
		min-width:160px;
		height:40px;
		top:0;
	}
}
@media screen and (max-height: 800px){
	.blurb-text-large {
		margin:20px 0 0 0;	
	}
	.blurb-text-medium{
		margin:20px 0 0 0;	
	
}
	.main-map-btn{
		margin-top:3%;
	}
}


#profileBox
{
	width: 340px;
	background: #f2f2f2;
	position:absolute;
	right: 80px;
	top: 74px;
	z-index: 3000;
	display:none;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.3);
}


.popup#profile form, .popup#newProfile form, #profileInfo, .popup#emailForm form
{
   display:block;
  overflow-y:auto;
  overflow-x:hidden;
}

.loginField
{
  margin: 15px 0px;
  padding: 0;
  text-align: left;
  font-size: 1.2rem;
  text-indent: 10px;
  width: 100%;
  display: block;
  position: relative;  
  border: none; 
  border-radius: 4px; 
  background-color: #fff; 
  height: 40px; 
  color: #4c5660;
  };
}

.loginBtn
{
	position: relative;
	top: 0px;
	left: 0px;
	border: 0;
	margin: 0;
  
}

.button
{
	min-width: 130px;
	height: 40px;
	color:white;
	border-radius: 5px;
	/* margin:0; */
	padding: 0 20px;
	background-color: #00bff3;
	cursor:pointer;
	display:inline-block;
	border: 0;
	font-size: 1rem;
}


input[type="submit"].button
{
	float:right;
}

#updateProfile
{
	line-height: 2em;
	position: relative;
	margin: 10px 20px;
}


#logoutBtn
{
	position: relative;
	/* top: 0px; */
	line-height: 2.0em;
	text-align: left;
	text-indent: 10px;
	margin: 10px 20px;
}


.profileField {
	margin: 15px 0px;
	padding: 0;
	text-align: left;
	font-size: 1.2rem;
	width: 300px;
	display: block;
}

.profileField input[type="text"], .profileField input[type="password"], .profileField select
{
	width: 100%;
	text-indent: 10px;
	padding: 0;
	margin: 10px 20px;
	padding: 0;
	text-align: left;
	font-size: 1rem;
	text-indent: 10px;
	position: relative;  
	border: none; 
	border-radius: 4px; 
	background-color: #fff; 
	height: 40px; 
	color: #4c5660;	
}

.errorMsg {
font-size: 1rem;
color: red;
padding: 5px;
}



.popup
{
	z-index: 4002;
	position: absolute;
	top: calc(50% - 300px);
	display:none;
	overflow:hidden;
	border-radius: 5px;
	box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.3);
	background: #f2f2f2;
	padding: 20px;
	line-height: 1.2em;
	font-size: 1em;
}

.popup h4 {
margin: 20px;
color: #4c5660;
display: inline-block;
}

.popup h5 {
	margin: 0 20px;
	color: #4c5660;
	display: inline-block;
}

.popup ul
{
    font-family: inherit; 
    line-height: 1.3em; white-space: pre-line; 
    font-size: 0.85em;
	
    color: #4c5660;
    list-style-type: initial; 
    /* margin: 14.4px 0; */ 
    margin: 0;
    padding: 0 0 0 40px;
}

.popup li
{
    list-style-position: initial;
	
    margin: 0;
    padding: 0;
    font-size: 100%;
}

.popup a
{
  color:#91989e;
  text-decoration:none;
}

.popup a:hover, .popup a:active
{
	color: #00bff3;
}

.popup #wrapper {
margin: 0 0 0 20px; overflow: auto; height: calc(100% - 65px); max-width: 840px;
}

.popup p{
	font-family: inherit;
line-height: 1.7em;
white-space: pre-line;

	font-size: 0.85em;
	margin: 0px 40px;
	color: #4c5660;
}

.popup#info
{
	max-width: 860px;
	width: 80%;
	max-height: 600px;
	top: 100px;
	bottom: 50px;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 0;	
	overflow-y: auto;
}

.panelTop {
min-height: 54px;
border-bottom: solid 1px #8a9398;
line-height: 40px;
width: calc(100% - 20px);
word-wrap: normal;
padding: 10px 10px 0 10px;
position: relative;
}


h4.panelTitle
{
	line-height: 34px;
	vertical-align: bottom;	
	width: calc(100% - 40px);	
    font-weight: 600;
	text-align: center;	
	position: absolute;
	left: 0px;
	top: 0;
	z-index: -1;
}

.closeBtn
{
	position: absolute;
	right: 15px;
	font-size: 2rem;
	font-weight:bold;
	color: #898989;
	cursor:pointer;
	user-select:none;
	display: inline-block;
	/* vertical-align: middle; */
	/* float: right; */
	top: 5px;
}

#message
{
	display: block;
	position: relative;
	margin: 5px;
	color: red;	
}