body /*sets main background color, width of site, and applies a border to the left side*/
{
	background-color: #000;
	margin:0px auto;
	font-family:Georgia, serif;
	font-weight:800;
	max-width:900px;
	min-width:200px;
	overflow-x:hidden;
	text-align:center;

}

#map
{
	height:600px;
/*	background:#666;*/
	box-shadow: 0px 0px 10px 0px #228 inset;
	border-radius:10px;
	width:100%;
	margin:0 auto;
}

.leaflet-marker-icon.leaflet-clickable
{
	border-style:solid!important;
	border-width:2px;
}

.circle
{
	width:30px;
	height:30px;
	background:black;
	position:relative;
	right:15px;
	top:-15px;
	border-radius:15px;
	color:pink;
}

.olPopup, .olPopupContent
{
/*	width:500px!important;*/
}

#mainHeader
{
	background:#000;
	width:100%;
	height:35px;
	border-color:#f66;
	border-style:solid;
	border-bottom-width:2px;
	font-size:20px;
	text-decoration:none;
	text-align:left;
	
}

#mainHeader a
{
	text-decoration:none;
	color:#f66;
	text-shadow: 1px 1px 2px #aaa;
}

#login
{
	/*position:absolute;*/
	font-weight:normal;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:16px;
	float:right;
	color:#333;
	margin-top:5px;
}


#toolbar
{
	background:url("../images/toolbar_gradient"), gray;
	width:100%;
	height:40px;
	text-align:center;
	color:#fff;
	text-shadow: 1px 1px 2px #000;
	border-radius:0px 0px 5px 5px;
}

#toolbar div
{
	display:inline-block;
	position:relative;
	margin-top:18px;
}

#mainHeader input[type="radio"].select
{
	text-decoration:none;
	/*position:absolute;*/
	position:relative;
	float:left;
	z-index:0;
	opacity:0;
}
#mainHeader input[type="radio"].select+label
{
	color:#fff;
	text-shadow: 1px 1px 2px #000;
}
#mainHeader input[type="radio"]:checked.select+label
{
	color:#f66;
}

#toolbar a:active
{
	color:#f66;
}

#gender
{
	margin-left:15px;
	float:left;
	letter-spacing:8px;
}

#mainHeader #searchbar
{
	display:inline-block;
	position:relative;
	width:120px;
	height:25px;
	border-radius:5px;
	border-color:#000;
	border-style:solid;
	border-width:2px;
	margin:0 auto;
	margin-top:4px;
	text-align:center;
}

#sort
{
	display:inline-block;
/*	float:left;*/

}

#displayWindow
{
	height:255px;
	position:relative;
	min-width:500px;
	max-width:640px;
	margin:auto;

}

#feed
{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:12px;
	position:relative;
	height:100%;
	padding:2px;
	overflow:auto;
	border-radius:5px;
	border-color:#000;
	border-style:solid;
	border-width:2px;
	border-radius:10px;
	background:#f66;
}

.displayBox
{
	position:relative;
	height:50px;
	background:#f66;
	border-color:#fff;
	border-style:solid;
	border-bottom-width:2px;
/*	margin-right:20px;*/
}

.displayBox:hover 
{
	background:#f44;
}

.displayBox a
{
	color:#fff;
}

.displayBox span
{
	color: #fff;
	margin-right:12px;
}

.displayBox .idNum
{
	display:inline-block;
	position:relative;
	top:5px;
	margin:0 10px;
	width:40px;
	height:40px;
	background:black;
	border-radius:40px;
	text-align:center;
}

.displayBox .idNum span
{
	line-height:40px;
	margin-left:8px;
}

.displayBox .username, .displayBox .info
{
	display:inline-block;
	border-color:#fff;
	border-style:solid;
/*	border-bottom-width:1px;*/
	width:400px;
	height:20px;
	position:absolute;
	left:130px;
	margin-top:10px;
}

.displayBox .info
{
	top:20px;
}

.info label
{
	color:#000;
	font-weight:normal;
}
.displayBox .twitter
{
	display:inline-block;
	position:absolute;
	right:0px;
	top:-10px;
	margin:0;
}


