@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	font-size:14px;
	font-family:'Open Sans', sans-serif;
	color:#8a9398;
	background-color:#f2f2f2;
	}
/*******************Spalsh***************************/
#spalsh-container{
	position: relative;
	width:80%;
	height:calc(100% - 30%);
	left:10%;
	right:10%;
	margin-top:10%;
	}
#spalsh-text-1 {
	position: relative;
	font-size:1.2rem;
	color:#4c5660;
	text-align:center;
	}
#spalsh-text-2 {
	position: relative;
	font-size:1rem;
	margin-top:20%;
	color:#4c5660;
	text-align:center;
	}

/******************Login****************************/

#main-box {
	position: absolute;
	width:100%;
	height:100%;
	}
#login-logo-box {
	position: relative;
	width:50%;
	height:10%;
	left:25%;
	right:25%;
	margin-top:15%;
	background-image: url(images/svg/snaplas-logo-full.svg);
	background-repeat:no-repeat;
	background-size: 100%;
	}
#login-logo-mobile {
	position: relative;
	top:65%;
	left:50%;
	} 
#login-form-container{
	position: relative;
	width:80%;
	height:50%;
	left:10%;
	right:10%;
	margin-top:20%;
	}
.login-form-box {
	position: relative;
	width:calc(100% - 20px);
	margin-top:10%;
	padding-left:10px;
	padding-right:10px;
	border:none;
	color:#4c5660;
	height:40px;
	background-color:#fff;
	border-radius:4px;
	}
#login-sign-in-btn {
	position: relative;
	width:60%;
	height:40px;
	line-height:40px;
	text-align:center;
	margin-top:10%;
	left:20%;
	background-color:#00bff3;
	color:#fff;
	border:none;
	border-radius:4px;
	}
#login-sign-in-btn:hover {
	background-color:#6dcff6;
	}
#login-use-description {
	position: relative;
	width:80%;
	left:10%;
	}
/**********************************Map List*************************/

#nav {
	position: relative;
	width:100%;
	height:60px;
	border-bottom:1px solid #8a9398;
	}
.nav-btn {
	position: relative;
	width:32%;
	line-height:60px;
	text-align:center;
	display:inline-block;
	font-weight:bold;
	}
.nav-btn:hover {
	color:#00bff3;
	}
.nav-btn.active {
	color:#00bff3;
	}
#map-list-container {
	position: relative;
	height:calc(100% - 61px);
	overflow-y:auto;
	}
.map-item-box{
	position: relative;
	display:block;
	width:100%;
	height:60px;
	border-bottom:1px solid #bdc3c7;
	}
.map-item-box:hover{
	background-color:#fff;
	}
.map-item-top{
	position: relative;
	height:40px;
	line-height:40px;
	}
.map-name {
	display:inline-block;
	float:left;
	margin-left:10px;
	font-weight:600;
	color:#4c5660;
	font-size:1.1rem;
	}
.map-name:before{
	content:'';
	width:30px;
	height:30px;
	vertical-align:text-bottom;
	display:inline-block;
	background-image: url(images/svg/icons-sprite-sheet.svg);
	background-repeat:no-repeat;
	background-size:540px 120px;
	}
.map-name.map-type-public:before{
	background-position:-120px 0;
	}
.map-item-bottom{
	position: relative;
	height:20px;
	line-height:15px;
	}
.map-creation-date {
	float:left;
	display:inline-block;
	margin-left:45px;
	line-height:15px;
	font-weight:400;
	color:#8a9398;
	font-size:0.8rem;
	}
.map-subscribers-icon {
	float:right;
	margin-top:3px;
	margin-right:3px;
	width:30px;
	height:30px;
	background-image: url(images/svg/icons-sprite-sheet.svg);
	background-repeat:no-repeat;
	background-size:540px 120px;
	background-position:-210px 0;
	}
.map-subscribers {
	float:right;
	margin-right:10px;
	display:inline-block;
	line-height:15px;
	font-weight:600;
	color:#f36f31;
	font-size:0.8rem;
	}
/**********************************Post List*************************/
#post-list-container {
	position: relative;
	height:calc(100% - 121px);
	overflow-y:auto;
	}
#post-new {
	position: absolute;
	bottom:0;
	width:100%;
	height:60px;
	line-height:58px;
	display:inline-block;
	text-align:center;
	font-weight:600;
	color:#8a9398;
	font-size:1.1rem;
	border-top:1px solid #8a9398;
	}
#post-new:hover {
	color:#00bff3;
	background-color:#fff;
	}
#post-new:before{
	content:'';
	width:50px;
	height:50px;
	vertical-align: middle;
	display:inline-block;
	background-image: url(images/svg/icons-sprite-sheet.svg);
	background-repeat:no-repeat;
	background-size:900px 200px;
	background-position:-650px -100px;
	}
#post-new:hover:before{
	background-position:-650px -150px;
	}
.post-item-box {
	position: relative;
	display:block;
	width:100%;
	height:60px;
	border-bottom:1px solid #bdc3c7;
	}
.post-item-box:hover {
	background-color:#fff;
	}
.post-image {
	float:left;
	height:60px;
	width:60px;
	background-color:#bdc3c7;
	}
.post-info-box{
	float:left;
	margin-left:10px;
	}
.post-info-name{
	height:35px;
	line-height:40px;
	font-weight:600;
	color:#4c5660;
	font-size:1.1rem;
	}
.post-info-date{
	height:15px;
	line-height:10px;
	font-weight:400;
	color:#8a9398;
	font-size:0.8rem;
	}
.post-edit-icon {
	float:right;
	width:20px;
	height:20px;
	margin:20px 10px 0 0;
	background-image: url(images/svg/icons-sprite-sheet.svg);
	background-repeat:no-repeat;
	background-size:360px 80px;
	background-position:-320px -40px;
	}
/*********************************Post a Post********************************/
#post-a-post-form-size {
	position: relative;
	width:100%;
	height:calc(100% - 61px);
	}
#post-a-post-container {
	position: relative;
	height:calc(100% - 60px);
	overflow-y:auto;
	}
#post-a-post-btn {
	position: absolute;
	bottom:0;
	width:100%;
	height:60px;
	line-height:58px;
	display:inline-block;
	text-align:center;
	font-weight:600;
	color:#fff;
	font-size:1.1rem;
	background-color:#00bff3;
	}
#post-a-post-btn:hover {
	background-color:#6dcff6;
	}
.post-a-post-title {
	position: relative;
	left:5%;
	width:calc(90% - 20px);
	margin-top:5%;
	padding-left:10px;
	padding-right:10px;
	border:none;
	color:#4c5660;
	height:40px;
	background-color:#fff;
	border-radius:4px;
	}
#post-a-post-image-upload {
	position: relative;
	left:5%;
	margin-top:5%;
	width:90%;
	height:50px;
	padding-top:20%;
	padding-bottom:20%;
	text-align:center;
	border:1px solid #bdc3c7;
	font-weight:600;
	}
#post-a-post-image-upload:hover {
	color:#00bff3;
	border:1px solid #00bff3;
	}	
#post-a-post-image-upload:before{
	content:'';
	width:50px;
	height:50px;
	vertical-align: middle;
	display:inline-block;
	background-image: url(images/svg/icons-sprite-sheet.svg);
	background-repeat:no-repeat;
	background-size:900px 200px;
	background-position:-650px -100px;
	}
#post-a-post-image-upload:hover:before{
	background-position:-650px -150px;
	}
#post-a-post-description {
	position: relative;
	left:5%;
	margin-top:5%;
	width:calc(90% - 20px);
	border:none;
	background-color:#fff;
	border-radius:4px;
	color:#8a9398;
	padding:10px;
	}
#post-a-post-map-prompt {
	position: fixed;
	height:30px;
	line-height:30px;
	width:100%;
	background-color:#00bff3;
	color:#fff;
	font-size:1rem;
	text-align:center;
	}
#post-location-pin {
	margin-top:50px;
	width:70px;
	height:70px;
	display:inline-block;
	background-image: url(images/svg/icons-sprite-sheet.svg);
	background-repeat:no-repeat;
	background-size:1260px 280px;
	background-position:-70px -210px;
	}
#post-a-post-map-container {
	position: relative;
	top:30px;
	height:calc(100% - 90px);
	overflow-y:auto;
	}